body{
  font-family: sans-serif;
}
button:hover{
    cursor: pointer;
}
.crud_satu { 
  text-decoration: none;
  position:absolute;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 30%;
  position: relative;
  margin-top: 30px;
  margin-bottom: 0px;
  box-shadow: 0 0 20px white, 0 0 15px #959595;  
  margin-bottom: 50px;
}

.isi {
  padding: 10px;

  padding-top: 0px;
}

.square_btn{
  margin-top: 50px;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-bottom: solid 6px darkgray;
    color: black;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.square_btn:hover{
  margin-top: 50px;
    padding: 0.5em 1em;
    text-decoration: none;
    background: black;
    border-bottom: solid 6px black;
    color: yellow;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.square_btn:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    color: gray;
    background: ghostwhite;
    border-bottom: 0px;
    margin-bottom: 6px;
    transform: translateY(2px);
}

 .navi {
  overflow: hidden;
  background-color: lightgray;
}
.navi a {
  font-family: Arial;
  font-weight: bold;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.navi a:hover {
  background-color: black;
  color: white;
   border-bottom: 4px solid black;
}